body {
    font-family: "Segoe UI", sans-serif;
    background: #f3f3e7;
    margin: 0;
    padding-bottom: 100px;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-size: 32px;
    color: #2b2b2b;
    font-weight: 700;
}

.search-bar {
    text-align: center;
    margin-bottom: 20px;
}

.search-input {
    padding: 10px 18px;
    width: 300px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #777;
    outline: none;
}

/* Bảng giống bảng thật */
.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 70px);
    gap: 4px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

.element {
    width: 70px;
    height: 75px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #444;
    background: #ffffff;
    text-align: center;
    transition: 0.1s;
}

.element:hover {
    transform: scale(1.15);
    z-index: 99;
}

.number {
    font-size: 12px;
    text-align: left;
}

.symbol {
    font-weight: bold;
    font-size: 22px;
}

.name {
    font-size: 11px;
    margin-top: 4px;
}

/* POPUP */
#popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.45);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    width: 70%;
    max-width: 900px;
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.info { flex: 1; color: #000; }

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.viewer3d {
    width: 350px;
    height: 350px;
    background: #000;
    border-radius: 10px;
}
