body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0e0e0e;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    gap: 6px;
    width: fit-content;
    margin: 30px auto;
}

.element {
    width: 60px;
    height: 60px;
    background: #1e1e1e;
    border-radius: 6px;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #333;
}

.element:hover {
    transform: scale(1.1);
    background: #333;
}

.symbol {
    font-size: 20px;
    font-weight: bold;
}

.number {
    font-size: 12px;
    opacity: 0.5;
}

/* Popup */
#popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #181818;
    border-radius: 12px;
    padding: 20px;
    width: 55%;
    max-width: 900px;
    display: flex;
    gap: 20px;
}

.popup-info {
    flex: 1;
}

#closeBtn {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 20px;
}

#viewer3d {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background: #000;
}
